@model IEnumerable<ConestogaVirtualGameStore.Models.EventModel>

@{
    Layout = "_LayoutAdminPanel";
}
<span class="text-white bg-success">@TempData["Success"]</span>
<span class="text-white bg-danger">@TempData["Failed"]</span>
<span class="text-white bg-danger">@TempData["NotFound"]</span>
<span class="text-white bg-danger">@TempData["Exception"]</span>

<h1>Events</h1>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="AddEvent" id="EventLink">Add an Event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventEndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.EventStartDate)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.EventEndDate)
            </td>
            <td>
                <a asp-action="EditEvent" asp-route-id="@item.EventModelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventModelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventModelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
