@model ConestogaVirtualGameStore.Models.ViewModels.GamesReviewsRatingsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Game Details";
}
<link href="~/css/rating.css" rel="stylesheet" />

<span class="text-white bg-success">@TempData["ReviewSuccess"]</span>
<span class="text-white bg-success" id="rateSuccess">@TempData["RateSuccess"]</span>
<span class="text-white bg-danger">@TempData["RNotFound"]</span>
<br />

<div class="container">
    <div class="row">
        <div class="col-sm-2 text-right">
            <img src="@("~/Images/GameCovers/"+Model.Game.ImageName)" asp-append-version="true" width="100px" height="100px" />
        </div>

        <div class="col-sm-10 px-0 mt-2">
            <div class="stars-outer">
                <div class="stars-inner"></div>
            </div>
            <p>@string.Format("{0:0.#}", @Model.GameRatingScore)/5 Average Rating</p>
            <p style="display:inline;" id="reviewCount">@Model.ReviewCount
                <p style="display:inline;">Reviews | Rated by </p>
                <p style="display:inline;" id="ratingCount">@Model.RatingCount</p>
                <p style="display:inline;"> users</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.Game.Title)
        </div>
        <div class="col-sm-10 px-0">
            @Html.DisplayFor(model => model.Game.Title)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.Game.YearReleased)
        </div>
        <div class="col-sm-10 px-0">
            @Html.DisplayFor(model => model.Game.YearReleased)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.Game.Category)
        </div>
        <div class="col-sm-10 px-0">
            @Html.DisplayFor(model => model.Game.Category)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.Game.RetailPrice)
        </div>
        <div class="col-sm-10 px-0">
            @Html.DisplayFor(model => model.Game.RetailPrice)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 text-right font-weight-bold">
            @Html.DisplayNameFor(model => model.Game.Description)
        </div>
        <div class="col-sm-10 px-0">
            @Html.DisplayFor(model => model.Game.Description)
        </div>
    </div>
    <br />

    <div class="justify-content-around px-5">

        @if (SignInManager.IsSignedIn(User))
        {
            if (ViewBag.HasExistingReview)
            {
                <a id="btnEditReview" asp-controller="Review" asp-action="EditReview" asp-route-GameId="@Model.Game.Id" class="btn btn-primary">Edit Review</a>
            }
            else
            {
                <a asp-controller="Review" asp-action="CreateReview" asp-route-GameId="@Model.Game.Id" id="btnWriteReview" class=" btn btn-primary">Write a Review</a>
            }
        }
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>


</div>
<br />
@if (SignInManager.IsSignedIn(User)){
    <span class="text-white bg-danger">@Html.Raw(TempData["RateModelError"])</span>
    if (ViewBag.HasExistingRating)
    {
        <div>
            <h4>Rate Game</h4>
            <form asp-controller="Rating" asp-action="ChangeRating" method="post">
                <input type="hidden" asp-for="Game.Id" />
                <div class="RatingScore">
                    <input type="radio" asp-for="RatingScore" id="star5" value="5" />
                    <label for="star5" title="5" id="s5">5 stars</label>
                    <input type="radio" asp-for="RatingScore" id="star4" value="4" />
                    <label for="star4" title="4" id="s4">4 stars</label>
                    <input type="radio" asp-for="RatingScore" id="star3" value="3" />
                    <label for="star3" title="3" id="s3">3 stars</label>
                    <input type="radio" asp-for="RatingScore" id="star2" value="2" />
                    <label for="star2" title="2" id="s2">2 stars</label>
                    <input type="radio" asp-for="RatingScore" id="star1" value="1" />
                    <label for="star1" title="1" id="s1">1 star</label>
                </div>
                <button type="submit" class="btn btn-primary" id="btnRating">Save Changes</button>
            </form>
        </div>
        <hr />
    }
    else{
        <div>
            <h4>Rate Game</h4>
            <form asp-controller="Rating" asp-action="RateGame" method="post">
                <input type="hidden" asp-for="Game.Id" />
                <div class="RatingScore">
                    <input type="radio" asp-for="RatingScore" id="star5" value="5" />
                    <label for="star5" title="5" id="s5">5 stars</label>
                    <input type="radio" asp-for="RatingScore" id="star4" value="4" />
                    <label for="star4" title="4" id="s4">4 stars</label>
                    <input type="radio" asp-for="RatingScore" id="star3" value="3" />
                    <label for="star3" title="3" id="s3">3 stars</label>
                    <input type="radio" asp-for="RatingScore" id="star2" value="2" />
                    <label for="star2" title="2" id="s2">2 stars</label>
                    <input type="radio" asp-for="RatingScore" id="star1" value="1" />
                    <label for="star1" title="1" id="s1">1 star</label>
                </div>
                <button type="submit" class="btn btn-primary" id="btnRating">Submit</button>
            </form>
        </div>
        <hr />
    }
}
<br />

<div class="container px-5">
    <h2>Game Reviews(@Model.ReviewCount)</h2>
    @foreach (var i in Model.Review)
    {
        <div class="card text-gray-100" style="background-color:beige">
            <div class="row">
                <div class="col-sm-2 text-center">
                    <figure style="vertical-align: top;display: inline-block">
                        <img class="img-profile rounded-circle float-left" style="width:25px;height:25px"
                         src="~/panel-theme/img/undraw_profile.svg">
                        
                    </figure>
                    <span style="display:block">@Html.DisplayFor(modelItem => i.User.UserName)</span>
                </div>
                <div class="col-sm-10">
                    <p><i>@Html.DisplayNameFor(modelItem => i.DateTime) @Html.DisplayFor(modelItem => i.DateTime)</i></p>
                    <p>@Html.DisplayFor(modelItem => i.ReviewText)</p>
                </div>
            </div>
        </div>
       <br />
    }
    
</div>


<script>
    var gameRating = "@Html.Raw(Model.GameRatingScore)";
    var gameRatingPercent = (gameRating / 5) * 100;
    var gameRatingRounded = Math.round(gameRatingPercent * 10) / 10;
    document.querySelector(".stars-inner").style.width = `${gameRatingRounded}%`;
</script>