@model ConestogaVirtualGameStore.Models.ViewModels.GamesReviewsRatingsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Game Details";
}
<link href="~/css/rating.css" rel="stylesheet" />

<span class="text-white bg-success">@TempData["ReviewSuccess"]</span>
<span class="text-white bg-success">@TempData["RateSuccess"]</span>
<span class="text-white bg-danger">@TempData["RNotFound"]</span>
<br />
<div class="stars-outer">
    <div class="stars-inner"></div>
</div>
<div>
    <p>@string.Format("{0:0.#}",@Model.GameRatingScore)/5 Average Rating</p>
    <p>@Model.ReviewCount Reviews | Rated by @Model.RatingCount users</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2"></dt>
        <dd class="col-sm-10">
            <img src="@("~/Images/GameCovers/"+Model.Game.ImageName)" asp-append-version="true" width="100px" height="100px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.YearReleased)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.YearReleased)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.RetailPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.RetailPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    @if (SignInManager.IsSignedIn(User))
    {
        if (ViewBag.HasExistingReview)
        {
            <a asp-controller="Review" asp-action="EditReview" asp-route-GameId="@Model.Game.Id" class=" btn btn-primary">Edit Review</a>
        }
        else
        {
            <a asp-controller="Review" asp-action="CreateReview" asp-route-GameId="@Model.Game.Id" class=" btn btn-primary">Write a Review</a>
        }
        if (ViewBag.HasExistingRating)
        {
            <a asp-controller="Rating" asp-action="ChangeRating" asp-route-GameId="@Model.Game.Id" class=" btn btn-primary">Change Rating</a>
        }
        else
        {
            <a asp-controller="Rating" asp-action="RateGame" asp-route-GameId="@Model.Game.Id" class=" btn btn-primary">Rate Game</a>
        }
    }
</div>

<div>
    <h2>Game Reviews(@Model.ReviewCount)</h2>
    @foreach (var i in Model.Review)
    {
        <fieldset style="all:revert">
            <legend style="all:revert">@Html.DisplayFor(modelItem => i.User.UserName)</legend>
            <p>@Html.DisplayFor(modelItem => i.ReviewText)</p>
            <p><i>@Html.DisplayNameFor(modelItem => i.DateTime) @Html.DisplayFor(modelItem => i.DateTime)</i></p>
        </fieldset>
    }
</div>

<script>
    var gameRating = "@Html.Raw(Model.GameRatingScore)";
    var gameRatingPercent = (gameRating / 5) * 100;
    var gameRatingRounded = Math.round(gameRatingPercent * 10) / 10;
    document.querySelector(".stars-inner").style.width = `${gameRatingRounded}%`;
</script>