@using ConestogaVirtualGameStore.Classes
@using ConestogaVirtualGameStore.Models.ViewModels
@model GameSearchViewModel
@{
    ViewData["Title"] = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<span class="text-white bg-danger">@TempData["ExceptionMessage"]</span>
<span class="text-white bg-danger">@TempData["NotFoundIndex"]</span>
<span class="text-white bg-danger">@TempData["RExceptionMessage"]</span>
<span class="text-white bg-danger">@TempData["RException"]</span>
<span class="text-white bg-danger">@TempData["RateException"]</span>
<span class="text-white bg-danger" id="orderfailed">@TempData["OrderFailed"]</span>

<br />

<form asp-action="Index" asp-controller="Home" method="GET" style="display:inline;">
    <p style="display:inline;">
        Search by Title: <input type="text" id="txtSearch" name="search" value="@Model.SearchString" />
        Category: 
        
        <select asp-for="GameCategory">
            <option id="All" value="">All</option>
            @for (int x = 0; x < Enum.GetNames(typeof(Genre)).Length; x++)
            {
                <option id="@Enum.GetName(typeof(Genre), x)" value="@Enum.GetName(typeof(Genre), x)">@Enum.GetName(typeof(Genre), x)</option>
            }
        </select>
        <input type="submit" id="btnSearch" value="Search" />
    </p>
</form>
<form asp-action="Index" asp-controller="Home" method="GET" style="display:inline;">
    <input type="submit" value="Clear" style="margin-left:10px;" />
    </form>
<div class="row">
        @foreach (var item in Model.Games)
        {
                <div class="column">
                <div class="card" style="width:150px">
                    <a asp-action="GameDetails" asp-route-id="@item.Id" class="stretched-link">
                        <img class="card-img-top" src="@("~/Images/GameCovers/"+item.ImageName)" asp-append-version="true" alt="Card image" width="150px" height="90px">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">@item.Title</h4>
                        <p class="card-category">@item.Category</p>
                        <p class="card-price">$@item.RetailPrice</p>

                    </div>
                </div>
                </div>
        }
</div>