@using ConestogaVirtualGameStore.Models.ViewModels
@model ProfilePreferenceAddressViewModel
@{
    Layout = "_LayoutWithoutHeader";
}
<span class="text-white bg-danger">@TempData["NotFoundProfile"]</span>
<span class="text-white bg-danger">@TempData["ExceptionMessage"]</span>

<h1>User Details</h1>

<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.IsSubscribed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.IsSubscribed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preferences.Platform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preferences.Platform)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preferences.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preferences.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.MailingAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.MailingAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.ShippingAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.ShippingAddress)
        </dd>
    </dl>
</div>


<a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Go Back</a>