@model IEnumerable<ConestogaVirtualGameStore.Models.ViewModels.Sales>
@{
    Layout = "_LayoutAdminPanel";
}
<h2 id="reportType">Sales List</h2>
<form asp-action="Index" asp-controller="Report">
    <p style="display:inline;">
        Choose a Report Type:
        <select name="ReportType">
            <option value="">Select Report</option>
            <option value="GameList">Game List Report</option>
            <option value="GameDetail">Game Detail Report</option>
            <option value="MemberList">Member List Report</option>
            <option value="MemberDetail">Member Detail Report</option>
            <option value="WishList">Wish List Report</option>
            <option value="SalesList">Sales Report</option>
        </select>
        <input type="submit" value="Get Report" class="btn btn-primary" />
    </p>
</form>

<br />
<a asp-action="DownloadSalesListReport" style="color:green;">Download Report</a>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sales List</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Month)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalSales)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Month)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalSales)
                    </td>

                </tr>
                @if(item.Month =="December"){
                    <tr>
                        <td>
                           Grand Total
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GrandTotalQuantities)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.GrandTotalSales)
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>