@model ConestogaVirtualGameStore.Models.ViewModels.FriendSearchViewModel
@{
    Layout = "_LayoutMemberPanel";
}

<span class="text-white bg-danger">@TempData["FException"]</span>
<span class="text-white bg-danger">@TempData["None"]</span>

<form asp-action="Index" asp-controller="Friend" method="GET">
    <input type="hidden" name="ise" value="t"/>
    <p>
        Find Friend: <input type="text" name="search" value="@Model.SearchString" id="searchBox" />
        <input type="submit" value="Search" id="searchBtn" />
    </p>
</form>
@if(Model.Users.Count == 0){
    if(ViewBag.IsSearching != null){
        <h4>Search Result</h4>
        <p>The search did not find any user with the name "@Model.SearchString"</p>
    }
}
else{
    <div>
        <h4>Search Result</h4>
        <table class="table card" style="width:50%">
            <thead>
                <tr>
                    <th>
                        <u>@Html.Raw("Username")</u>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @if (!Model.AllFriends.Any(a => a == item.Id))
                            {
                                <form asp-action="AddFriend">
                                    <input type="hidden" name="userId" value="@item.Id" />
                                    <input type="submit" value="Add Friend" class="btn btn-primary" id="add_@item.UserName" />
                                </form>
                                @* <a asp-action="AddFriend" asp-route-UserId="@item.Id" class="btn btn-primary">Add Friend</a> *@
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<br />

<div>
    <h4>My Friends List</h4>
    <table class="table card" style="width:50%">
        <thead>
            <tr>
                <th>
                <u>@Html.Raw("Username")</u>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AcceptedFriends)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <form asp-action="GetFriendWishList" asp-controller="WishList" method="GET">
                            <input type="hidden" name="friendUserId" value="@item.UserName" />
                            <input type="submit" value="View Wish List" class="btn btn-info" id="friend_@item.UserName" />
                        </form>

                    </td>
                    <td>
                        <form asp-action="DeleteFriend">
                            <input type="hidden" name="friendId" value="@item.Id" />
                            <input type="submit" value="Remove" class="btn btn-danger" id="friend_@item.UserName" />
                        </form>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div class="row">
    <div class="col">
        <h4>Pending Friends</h4>
        <table class="table card">
            <thead>
                <tr>
                    <th>
                    <u>@Html.Raw("Username")</u>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PendingApproval)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            <form asp-action="AcceptFriend" style="display:inline;">
                                <input type="hidden" name="requesterId" value="@item.Id" />
                                <input type="submit" value="Accept Friend" class="btn btn-primary" id="accept_@item.UserName" />
                            </form>
                            @*  <a asp-action="AcceptFriend" asp-route-RequesterId="@item.Id" asp-route-UserId="@Model.UserId" class="btn btn-primary">Accept Friend</a> *@
                            <form asp-action="DeclineFriend" style="display:inline;">
                                <input type="hidden" name="requesterId" value="@item.Id" />
                                <input type="submit" value="Decline" class="btn btn-danger" id="decline_@item.UserName" />
                            </form>
                            @* <a asp-action="DeclineFriend" asp-route-RequesterId="@item.Id" asp-route-UserId="@Model.UserId" class="btn btn-danger">Decline</a> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
   

    <div class="col">
        <h4>Pending Requests</h4>
            <table class="table card">
        <thead>
            <tr>
                <th>
                    <u>@Html.Raw("Username")</u>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PendingRequest)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                   
                    <td>
                            <form asp-action="CancelRequest">
                                <input type="hidden" name="friendId" value="@item.Id" />
                                <div><input type="submit" value="Cancel Request" class="btn btn-danger" id="cancel_@item.UserName" /></div>
                            </form>
                            @* <a asp-action="CancelRequest" asp-route-UserId="@Model.UserId" asp-route-FriendId="@item.Id" class="btn btn-danger">Cancel Request</a> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>