@model ConestogaVirtualGameStore.Models.GameModel

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdminPanel";
}

<h1>Game Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2"></dt>
        <dd class="col-sm-10">
            <img src="@("~/Images/GameCovers/"+Model.ImageName)" asp-append-version="true" width="100px" height="100px" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearReleased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearReleased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetailPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetailPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Platform)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Update</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    <br /><br />
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
