@model IEnumerable<ConestogaVirtualGameStore.Models.GameModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdminPanel";
}

<span class="text-white bg-success">@TempData["GSuccess"]</span>
<span class="text-white bg-danger">@TempData["GNotFound"]</span>
<span class="text-white bg-danger">@TempData["GException"]</span>

<h1>Games</h1>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Add a Game</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RetailPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Platform)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Platform)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">EditGame</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">GameDetails</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">DeleteGame</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
