@model IEnumerable<ConestogaVirtualGameStore.Models.GameModel>
@{
    Layout = "_LayoutMemberPanel";
}
<span class="text-white bg-success" id="creditSuccess">@TempData["WishSuccess"]</span>
<span class="text-white bg-danger">@TempData["WishFail"]</span>

<h1>Wish List</h1>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wish List</title>
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0" nonce="UxWR73aX"></script>
    <div class="btn fb-share-button" data-href="https://192.168.1.18:45455/WishList" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F192.168.1.18%3A45455%2FWishList&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RetailPrice)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.EventEndDate)*@
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailPrice)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.EventEndDate)*@
                    </td>
                    <td>
                        <a asp-action="DeleteWish" asp-route-wishId="@item.Id" id="btnRemoveWish">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
